.dashboard{ 
    padding-bottom: 10px;
    padding-top: 5px;
    background-color: white;
    border-top-color: #d8d8d8;
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.form{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

@media (max-width: 450px) {
    .btn{opacity: 0;}
  }


